<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= book.book_type %>
  </p>

  <p>
    <strong>Designed By:</strong>
    <%= book.designed_by %>
  </p>


</div>
